/* GLOBAL RULES */

* {
    box-sizing: border-box;
}

html {
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    line-height: 1.5em;
    color: rgba(52, 27, 10, 0.895);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

html, body {
    min-height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

::selection {
    color: #000; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    font-weight: normal;
    text-align: center;
    margin: auto;
    background: transparent;
    color: rgba(35, 18, 7, 0.699);
    line-height: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1.mobile {
    background-image: url(../images/bg_mobile_logo.jpg);
}

div.wrapper {
    background-color: transparent;
}

p {
    margin: 15px 15px;
    text-align: center;
}

.headline {
    font-size: 3.5em;
    margin: 0;
    padding: 10% .5em;
    color: rgba(35, 18, 7, 0.699);
    text-align: center;
}

h2, h3 {
    font-weight: normal;
    line-height: 1em;
    text-align: center;
}

h3 {
    font-size: 1.25em;
}

h3.sub {
    margin-top: 5px;
    margin-bottom: 5px;
}

h4 {
    margin-top: 0;
    font-weight: normal;
    line-height: 1em;
    text-align: center;
    font-size: 1.10em;
    color: rgba(35, 18, 7, 0.699);
}

a {
    color: rgba(0, 0, 0, 0.915);
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: none;
    text-decoration: none;
}

/* IMAGES */

.headshot {
    width: 100%;
    padding: 20px 20px;
}

/* BOXES */

div.box {
    background-color: rgba(255, 248, 237, 0.681);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.rate {
    text-align: center;
}

/* BUTTON CONTAINER */

div.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTON */

.button {
    margin-top: .5em;
    margin-bottom: .5em;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.958);
    border-radius: 45px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    color: rgba(52, 27, 10, 0.895);
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }

footer {
    clear: both;
    text-align: center;
    height: 5%;
    width: 100%;
    color:  rgba(52, 27, 10, 0.509);
    font-size: .6em;
    bottom: 0;
}

.footer_fix {
    position: absolute;
}

/* --- Responsive Rules --- */

/* MOBILE */
@media all and (max-width:500px) {
  
    html {
        background-image: url("../images/bg_mobile.jpg");
        width: 100%;
        background-size:cover;
        background-attachment: fixed;
        background-position: center;
    }

    .desktop {
        display: none;
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
   
    .mobile {
        display: none;
    }
}

/* DESKTOP */
@media all and (min-width:1200px) {
    
    html {
        width: 100%;
        background-size:cover;
        background-attachment: fixed;
        background-position: center;
    }

    .landing {
        background-image: url("../images/bg_desktop.jpg");
    }

    .secondary {
        background-image: url("../images/bg_secondary.jpg");
    }
    
    .mobile {
        display: none;
    }

    header {
        height: 10%;
    }

    div.wrapper {
        min-height: 100%;
    }

    /* LANDING PAGE */

    .logo {
        float: left;
        max-width: 50%;
        position: absolute;
        padding: 20px 20px;
    }

    .headline, .headline_btn {
        margin-left: 45%;
    }

    .headline {
        font-size: 5em;
        padding: 10px 10px;
        margin-top: 6%;
        margin-bottom: 10px;
    }

    .button {
        font-size: 25px;
        height: 80px;
    }

    /* ABOUT PAGE */

    .headshot {
        float: left;
        max-width: 40%;
    }

    div.box {
        max-width: 100%;
        max-width: 100%;
        margin: 5% 5%;
        padding: 10px;
    }

    h3.sub {
        padding: 10px;
    }

}